@font-face { font-family: Montserrat; src: url('../fonts/Montserrat-Regular.ttf'); } 
@font-face { font-family: Montserrat; font-weight: bold; src: url('../fonts/Montserrat-Bold.ttf');}
@font-face { font-family: Montserrat; font-style: italic; src: url('../fonts/Montserrat-Italic.ttf');}

*{
	font-family: Montserrat;
}

#button{
	text-align: center !important;
	padding-top: 0vh;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-family: Montserrat;
}

button.bttnPage{
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px 40px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
	color: #fff;
	font-weight: normal;
}

button.bttnPage:hover{
	letter-spacing: 3px;
	color: #fff;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transition: 0.5s;
	filter: blur(0px);
	font-weight: 600;
}

a.bttnLink button.bttnPage{
	text-decoration: none;
	color: #dedede;
	font-weight: normal;
	font-size: 32px;
}

a.bttnLink button.bttnPage:hover{
	color: #ffffff;
	font-weight: 600;
	font-size: 36px;
}

@media (max-width: 996px){
	button.bttnPage{
		font-size: 16px;
		z-index: 1;
		font-weight: normal;
		padding: 10px 30px;
		transition: ease 0.5s;
	}
}

@media (max-width: 600px){
	button.bttnPage{
		padding: 10px 20px;
		transition: ease 0.5s;
	}
	a.bttnLink button.bttnPage{
		font-size: 18px;
	}
}