html{
	background-image: url(../img/loaderBcg.jpg);
}

body{
	margin: 0;
}

#page{
	background-position: center !important;
	text-align: center !important;
	margin-top: 0vh;
	margin-bottom: 50px;
	width: 100%;
}

#core{
	padding-top: 15vh;
}

#contactBox{
	margin-top: 5vh;
	width: 90%;
	height: 90%;
	margin-left: auto;
	margin-right: auto;
	display: table;
}


div.leftBox{
	margin: 0px;
	padding: 0%;
	width: 48%;
	height: 100%;
	border-top-left-radius: 45px;
	border-bottom-left-radius: 45px;
	float: left;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	/*border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);*/
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 60px;
	backdrop-filter: blur(2px);
}

div.leftBox:hover{
	transition: 0.5s;
	backdrop-filter: blur(8px);
}

div.rightBox{
	margin: 0px;
	padding: 0%;
	width: 48%;
	height: 100%;
	border-top-right-radius: 45px;
	border-bottom-right-radius: 45px;
	float: right;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

h2.titleDark{
	color: #1A1A1A;
	font-size: 1.5vw;
	margin-bottom: 0.5vh;
}

h2.titleLight{
	color: #BABABA;
	font-size: 1.5vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

h3.coordsTitle{
	color: #BABABA;
	font-size: 1vw;
	padding-top: 2vh;
	padding-left: 2vw;
	text-align: left;
	margin-bottom: 0px;
}

hr.separatorDark{
	color: #1A1A1A;
	width: 100%;
}

hr.separatorLight{
	border: 0.1vh solid #dedede;
	border-radius: 5px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3vh;
	opacity: 0.5;
}

p.coordsInfo{
	margin: 0px;
	color: #BABABA;
	font-size: 1vw;
	padding-top: 2vh;
	padding-left: 2vw;
	text-align: left;
	font-style: italic;
	padding-bottom: 2vh;
	padding-right: 4vw;
}

hr.coordsSeparator{
	color: #BABABA;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.2;
}


input.name, 
input.email, 
textarea.message, 
input.submitBttn{
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px 15px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	font-size: 1vw;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(2px);
	color: #fff;
	margin-bottom: 2vh;
}

.name{
	width: 48.5%;
}

.name.first{
	float: left;
}
.name.last{
	float: right;
}

.email, .message{
	width: 100%;
	float: left;
}

.message{
	resize: none;
	height: 150px;
	transition: all 0.2s;
	outline: none;
	overflow: auto;
}

.submitBttn{
	margin-top: 5vh;
}

.name:hover, .email:hover, .message:hover, .submitBttn:hover{
	letter-spacing: 1px;
	color: #fff;
	transition: 0.5s;
	filter: blur(0px);
	backdrop-filter: blur(8px);

}

.image-container{
	display: flex;
    justify-content: space-between;
    padding-top: 5vh;
}

.image-container img {
	width: 90%; /* 50% minus margin on both sides */
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	/*border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);*/
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	backdrop-filter: blur(15px);
}

.image-container img:hover{
	transition:all ease-in-out 0.5s;
	transform: scale(1.02);
}

@media (max-width: 900px){
	#core{
		padding-top: 8vh;
	}

	div.leftBox{
		border-radius: 35px;
	}
	h2.titleLight{
		font-size: 2.5vw;
	}

	h3.coordsTitle{
		font-size: 1.5vw;
	}
	p.coordsInfo{
		font-size: 1.2vw;
		padding-top: 1vh;
	}
	input.name, 
	input.email, 
	textarea.message, 
	input.submitBttn{
		font-size: 1vw;
	}

	.submitBttn{
		margin-top: 2vh;
	}
}

@media (max-width: 600px){
	#core{
		padding-top: 8vh;
	}
	h2.titleLight{
		font-size: 2.5vw;
	}

	h3.coordsTitle{
		font-size: 1.5vw;
	}
	p.coordsInfo{
		font-size: 1.5vw;
		padding-top: 1vh;
	}
	input.name, 
	input.email, 
	textarea.message, 
	input.submitBttn{
		font-size: 1.5vw;
	}

	.submitBttn{
		margin-top: 2vh;
	}

	.image-container{
		display: block;
		direction: column;
		padding-top: 2vh;
	}

	.image-container img {
		width: 90%; /* 50% minus margin on both sides */
		margin-bottom: 5vh;
	}
}

@media (max-width: 400px){
	#core{
		padding-top: 8vh;
	}
	h2.titleLight{
		font-size: 2.5vw;
	}

	h3.coordsTitle{
		font-size: 1.5vw;
	}
	p.coordsInfo{
		font-size: 1.5vw;
		padding-top: 1vh;
	}
	input.name, 
	input.email, 
	textarea.message, 
	input.submitBttn{
		font-size: 1.5vw;
	}

	.submitBttn{
		margin-top: 1vh;
	}

	.image-container img {
		width: 90%; /* 50% minus margin on both sides */
		margin-bottom: 2vh;
	}
}


