html{
	background-color: #1A1A1A;
}

#page{
	background-position: center !important;
	text-align: center !important;
	margin-top: 0vh;
	margin-bottom: 50px;
	width: 100%;
}

#contactBox{
	margin-top: 5vh;
	width: 80%;
	height: 90%;
	margin: auto;
	display: table;
}


div.leftBox{
	margin: 0px;
	padding: 0%;
	width: 50%;
	height: 100%;
	border-top-left-radius: 45px;
	border-bottom-left-radius: 45px;
	float: left;
}

div.rightBox{
	margin: 0px;
	padding: 0%;
	width: 50%;
	height: 100%;
	border-top-right-radius: 45px;
	border-bottom-right-radius: 45px;
	float: right;
}

h2.titleDark{
	color: #1A1A1A;
	font-size: 1.5vw;
	margin-bottom: 0.5vh;
}

h2.titleLight{
	color: #BABABA;
	font-size: 1.5vw;
	margin-bottom: 0.5vh;
}

h3.coordsTitle{
	color: #BABABA;
	font-size: 1vw;
	padding-top: 2vh;
	padding-left: 2vw;
	text-align: left;
	margin-bottom: 0px;
}

hr.separatorDark{
	color: #1A1A1A;
	width: 55%;
}

hr.separatorLight{
	color: #BABABA;
	width: 40%;
}

p.coordsInfo{
	margin: 0px;
	color: #BABABA;
	font-size: 1vw;
	padding-top: 1vh;
	padding-left: 2vw;
	text-align: left;
	font-style: italic;
	padding-bottom: 1vh;
	padding-right: 4vw;
}

hr.coordsSeparator{
	color: #BABABA;
	width: 82%;
}


input.name{
	padding-left: 10px;
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-top: 5vh;
	margin-bottom: 2vh;
	background-color: #DEDEDE;
	border-radius: 50px;
	border: 3px solid #0096CC;
	width: 40%;
	font-size: 1vw;
	outline: none;
}

input.name:hover{
	border: 3px solid #00BBFF;
}

input.email{
	padding-left: 10px;
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
	background-color: #DEDEDE;
	border-radius: 50px;
	border: 3px solid #0096CC;
	width: 84%;
	font-size: 1vw;
	outline: none;
}

input.email:hover{	
	border: 3px solid #00BBFF;
}

textarea.message{
	resize: none;
	padding-left: 10px;
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
	background-color: #DEDEDE;
	border-radius: 20px;
	border: 3px solid #0096CC;
	width: 84%;
	height: 150px;
	font-size: 1vw;
	transition: all 0.2s;
	outline: none;
	overflow: auto;

}

textarea.message:hover{
	border: 3px solid #00BBFF;
}

input.submitBttn{
	background-color: #0096CC;
	border-radius: 50px;
  	border: 3px solid #0096CC;
  	padding-top: 1vh;
  	padding-bottom: 1vh;
  	text-align: center;
  	margin-top: 2vh;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 1vw;
  	cursor: pointer;
  	width: 87%;
  	color: #1A1A1A;
  	outline: none;
}

input.submitBttn:hover{
	background-color: transparent;
  	border: 3px solid #00BBFF;
  	color: #00BBFF;
  	font-weight: bold;
}



