/*body{
	overflow: hidden;
}*/
.container{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	height: 80vh;
	padding: 20px;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	backdrop-filter: blur(2px);
}

h2.name{
	color: #dedede;
	text-align: center;
	font-weight: bold;
	font-size: 7vh;
	padding-bottom: 20px;
}

#slide{
	width: max-content;
	padding-right: 20px;
}

.item{
	width: 120px;
	height: 67.5px;
	background-position: 50%, 50%;
	display: inline-block;
	transition: 0.5s;
	background-size: cover;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(5px);
	padding-bottom: 3vh;
}


.item:nth-child(1),
.item:nth-child(2){
	border-radius: 20px;
	background-position: center;
	background-size: cover;
	width: 906.24px;
	height: 512px;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}

.item:nth-child(3){
	top: 92%;
	left: calc(50% - 130px);
}

.item:nth-child(4){
	top: 92%;
	left: 50%
}

.item:nth-child(5){
	top: 92%;
	left: calc(50% + 130px);
}

.item:nth-child(n+6){
	top: 92%;
	left: calc(50% + 260px);
	opacity: 100%;
	box-shadow: none;
	z-index: 1;
}


.item .content{
	position: absolute;
	top: 50%;
	left: 50px;
	width: 300px;
	text-align: left;
	padding: 0;
	color: #dedede;
	transform: translate(0, -50%);
	display: none;
}

.item:nth-child(2) .content{
	display: block;
	z-index: 11111;
}

.item .name{
	font-size: 40px;
	font-weight: bold;
	text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
	opacity: 0;
	color: #dedede;
	animation: showcontent 1s ease-in-out 1 forwards;
}

.item .desc{
	margin: 20px 0;
	text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
	opacity: 0;
	animation: showcontent 1s ease-in-out 1 forwards;
}

.item button{
	padding: 10px 20px;
	border: none;
	opacity: 0;
	background: rgba(255, 255, 255, 0.05);
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	color: #dedede;
	font-weight: bold;
	animation: showcontent 1s ease-in-out 1 forwards;
}

@keyframes showcontent{
	from{
		opacity: 0;
		transform: translate(0,100px);
		filter: blur(33px);
	}
	to{
		opacity: 1;
		transform: translate(0,0);
		filter: blur(0);
	}
}

.buttons{
	position: absolute;
	bottom: 4vh;
	z-index: 2222222;
	text-align: center;
	width: 100%;
}

#prev{
	position: absolute;
	bottom: 0.3vh;
	left: calc(50% - 280px);
	font-size: 1.2rem;
}

#next{
	position: absolute;
	bottom: 0.3vh;
	left: calc(50% + 320px);
	font-size: 1.2rem;
}

.buttons button{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
}

.buttons button:hover{
	transform: scale(1.1);
}