html{
	background-color: #1A1A1A;
}

#core{
	padding-top: 15vh;
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}

#naukar, #ligne13, #unchained{
	height: 70vh;
	border-radius: 50px;
	background-image: url(../img/bgNaukar.jpg);
	text-align: center !important;
	margin-top: 10px;
	margin-bottom: 10px;
	background-position: center; !important;
	width: 98%;
}

#naukar{
	background-image: url(../img/bgNaukar.jpg);
}

#ligne13{
	background-image: url(../img/bgL13.jpg);
}

#unchained{
	background-image: url(../img/bgUnchainedHD.jpg);
}

.button{
	padding-top: 5vh;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	padding-bottom: 5vh;
}

img.logoGame{
	padding-top: 10vh;
	width: 40vw;
}

@media (max-width: 900px){
	#naukar, #ligne13, #unchained{
		height: 40vh;
		margin-bottom: 0.05vh;
	}
	.button{
		padding-top: 5vh;
  		padding-bottom: 2vh;
	}
	img.logoGame{
		padding-top: 5vh;
		width: 40vw;
	}
}

@media (max-width: 600px){
	#naukar, #ligne13, #unchained{
		height: 30vh;
		margin-bottom: 0.05vh;
	}
	.button{
		padding-top: 5vh;
  		padding-bottom: 2vh;
	}
	img.logoGame{
		padding-top: 5vh;
		width: 40vw;
	}
}