html{
	background-color: #1A1A1A;
}

#naukar{
	height: 70vh;
	border-radius: 50px;
	background-image: url(../img/bgNaukar.jpg);
	text-align: center !important;
	margin-top: 10px;
	margin-bottom: 10px;
	background-position: right !important;
	width: 100%;
}

#ligne13{
	height: 70vh;
	border-radius: 50px;
	background-image: url(../img/bgL13.jpg);
	text-align: center !important;
	margin-top: 10px;
	margin-bottom: 10px;
	background-position: center !important;
	width: 100%;
}

#unchained{
	height: 70vh;
	border-radius: 50px;
	background-image: url(../img/bgUnchainedHD.jpg);
	text-align: center !important;
	margin-top: 10px;
	margin-bottom: 10px;
	background-position: right !important;
	width: 100%;
}

#naukar:hover{
	transition: all 0.2s;
	transform: scale(0.99);
}

#ligne13:hover{
	transition: all 0.2s;
	transform: scale(0.99);
}

#unchained:hover{
	transition: all 0.2s;
	transform: scale(0.99);
}

img.logoGame{
	padding-top: 10vh;
	width: 40vw;
}



