html{
		scroll-behavior: smooth;
}

.goTopBttn{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	position: fixed;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.1);
	right: 5vw;
	bottom: 7vh;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	z-index: 1000;
	backdrop-filter: blur(5px);
}

.goTopBttn:hover{
	transform: scale(1.3);
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(15px);
}