#imhotep{
	height: 70vh;
	border-radius: 50px;
	background-image: url(../img/bannerImhotep.jpg);
	text-align: center !important;
	margin-top: 10px;
	margin-bottom: 10px;
	background-position: right !important;
	width: 100%;
}

#imhotep:hover{
	transform: scale(0.99);
}

#materials{
	height: 70vh;
	border-radius: 50px;
	background-image: url(../img/bannerMaterials.jpg);
	text-align: left; !important;
	margin-top: 10px;
	margin-bottom: 10px;
	background-position: center !important;
	width: 100%;
}

#materials:hover{
	transform: scale(0.99);
}

#others{
	height: 70vh;
	border-radius: 50px;
	background-image: url(../img/bannerOthers.jpg);
	text-align: right; !important;
	margin-top: 10px;
	background-position: center !important;
	width: 100%;
}

#others:hover{
	transform: scale(0.99);
}

img.logoImhotep{
	padding-top: 5vh;
	width: 50vw;
}

h1.name{
	font-size: 7vw;
	color: rgba(222,222,222,1);
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5vh;
}



