body{
	background-color: #1a1a1a;
}

#core{
	padding-top: 15vh;
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}

#imhotep, #materials, #others, #environments{
	height: 80vh;
	border-radius: 50px;	
	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;	
	margin-top: 10px;
	margin-bottom: 10px;
	width: 98%;
}

#imhotep{
	background-image: url(../img/bannerImhotep.jpg);
	text-align: center !important;
}

#materials{
	background-image: url(../img/bannerMaterials.jpg);
	text-align: left !important;
}

#others{
	background-image: url(../img/bannerOthers.jpg);
	text-align: right; !important;
}

#environments{
	background-image: url(../img/bannerImhotep.jpg);
	text-align: center; !important;
}

.button{
	padding-top: 5vh;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	padding-bottom: 5vh;
}

img.logoImhotep{
	padding-top: 2vh;
	width: 50vw;
}

h1.name{
	font-size: 7vw;
	color: rgba(222,222,222,1);
	padding-top: 2vh;
	padding-left: 2vw;
	padding-right: 2vw;
}

.paragraph{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

p.explanation{
	font-size: 2.4vw;
	color: #DEDEDE;
	text-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
	text-align: justify;
}

@media (max-width: 900px){
	#imhotep, #materials, #others, #environments{
		height: 40vh;
		margin-bottom: 0.05vh;
	}
	.button{
		padding-top: 2vh;
  		padding-bottom: 2vh;
	}

	h1.name{
		padding-top: 2vh;
		padding-left: 5vw;
		padding-right: 5vw;
	}
	p.explanation{
		transition: ease 0.5s;
		font-size: 2.2vw;
	}
}

@media (max-width: 600px){
	#imhotep, #materials, #others, #environments{
		height: 30vh;
		margin-bottom: 0.05vh;
	}
	.button{
		padding-top: 2vh;
  		padding-bottom: 2vh;
	}
	p.explanation{
		transition: ease 0.5s;
		font-size: 2.2vw;
	}
}



