div#socials{
	display: flex;
	text-align: center !important;
	margin-bottom: 2vh;
	margin-top: 5vh;
	padding-inline: 20px;
	justify-content: center;
	align-items: center;
}

ul.socialsList{
	margin: 0;
	background: rgba(255, 255, 255, 0.02);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 60px;
	padding: 10px 40px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	font-size: 24px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(10px);
	color: #fff;
}

button.bttnSocials{
	background: transparent;
	border: none;
}

button.bttnSocials:hover{
	background: transparent;
	border: none;
}

button.bttnSocials img.iconSocials{
	width: 3vw;
	height: auto;
}

button.bttnSocials img.iconSocials:hover{
	transform: scale(1.1);
	filter: brightness(120%) hue-rotate(90deg) saturate(150%) blur(0px);
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    to {
        filter: brightness(300%) hue-rotate(90deg) saturate(200%) blur(2px);
    }
}

@media (max-width: 900px){
	ul.socialsList{
		padding: 10px 40px;
	}

	button.bttnSocials img.iconSocials{
		width: 8vw;
		height: auto;
	}
}


@media (max-width: 600px){
	ul.socialsList{
		padding: 10px 40px;
	}

	button.bttnSocials img.iconSocials{
		width: 12vw;
		height: auto;
	}
}
