html{
	background-image: url(../img/homeBcg.jpg);
}

div#texts{
	text-align: center;
	transition: transform 0.3s ease-in-out;
}

div#texts:hover{
	transform: scale(1.02);
}

h1.name{
	font-size: 10.5vw;
	min-width: 300px;
	color: rgba(222,222,222,1);
	margin-top: 100px;
	margin-bottom: 0px;
	
}

h2.position{
	font-size: 3.7vw;
	color: rgba(222,222,222,1);
	margin-top: 0px;
	margin-bottom: 50px;
}

div#buttons {
  width: 100%;
  height: auto;
  text-align: center !important;
  margin-bottom: 50px;
  font-size: 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div#bttnL,
div#bttnR {
  width: 100%;
  max-width: 49%;
  display: flex;
  justify-content: center;
}

button.bttnPage {
  background-color: #0096CC;
  border-radius: 50px;
  border: 3px solid #0096CC;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  margin: 1vh 2vw;
  cursor: pointer;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

button.bttnPage:hover {
  background-color: transparent;
  border: 3px solid #00BBFF;
}

a.bttnLink button.bttnPage {
  text-decoration: none;
  color: #1A1A1A;
  font-weight: bold;
  font-size: 2vh;
  height: auto;
}

a.bttnLink button.bttnPage:hover {
  color: #00BBFF;
}

@media only screen and (max-width: 300px) {
  button.bttnPage {
    font-size: 3.5vw;
    margin: 2vh 4vw;
  }

  a.bttnLink button.bttnPage {
    font-size: 4vw;
  }
}








