html{
	background-image: url(../img/homeBcg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#core{
  padding-top: 15vh;
}
div#texts{
	text-align: center;
	transition: transform 0.3s ease-in-out;
}

div#texts:hover{
	transform: scale(1.02);
}

h1.name{
	font-size: 10.5vw;
	min-width: 300px;
	color: rgba(222,222,222,1);
	margin-top: 5vh;
	margin-bottom: 0px;
	
}

h2.position{
	font-size: 3.7vw;
	color: rgba(222,222,222,1);
	margin-top: 0px;
	margin-bottom: 1vh;
}

div#buttons {
  width: 100%;
  height: auto;
  text-align: center !important;
  margin-bottom: 50px;
  font-size: 7vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div#bttnL,
div#bttnR {
  width: 100%;
  max-width: 49%;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px){
  div#core{
    padding-top: 10vh;
    transition: all ease 0.5s;
  }
  div#texts{
    padding-bottom: 2vh;
  }

}







