@font-face { font-family: Montserrat; src: url('../fonts/Montserrat-Regular.ttf'); } 
@font-face { font-family: Montserrat; font-weight: bold; src: url('../fonts/Montserrat-Bold.ttf');}
@font-face { font-family: Montserrat; font-style: italic; src: url('../fonts/Montserrat-Italic.ttf');}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Montserrat;
}

header{
	position: absolute;
	width: 100%;
	height: 8vh;
	top: 0;
	left: 0;
	color: #dedede;
	padding: 0 2rem;
	z-index: 50;
}

nav{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

body{
	background-image: url(loaderBcg.jpg);
}

.logo img{
	height: 6vh;
	z-index: 50;
}

.toggle{
	display: none;
	z-index: 50;
}

.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	width: 1000px;
}

.menu li a{
	color: #bababa;
	font-size: 2vw;
	padding: 5px 25px;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
}

.menu li a:hover{
	color: #dedede ;
	transform: scale(1.1);	
}

a.actualPage{
	color: #ffffff;
	font-weight: bold;
}

.submenu{
	position: absolute;
	width: 20vw;
	display: none;
	list-style: none;
	padding-top: 2vh;
}

.submenu li{
	padding-bottom: 2vh;
}

.submenu li a{
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 10px 40px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	font-size: 14px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(2px);
	color: #fff;
	padding-bottom: 1vh;
}

.submenu li a:hover{
	backdrop-filter: blur(10px);
}

.menu li:hover .submenu{
	display: block;
}

.menu li .submenu li{
	position: relative;
	width: 100%;	
}

@media all and (max-width: 996px){
	.toggle{
		/*width: 50px;
		height: 50px;*/
		display: block;
		font-size: 1.2rem;
		cursor: pointer;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 20;
	}

	.bttn{
		width: 50px;
		height: 50px;
		border-radius: 50px;
		position: absolute;
		background: rgba(255, 255, 255, 0.05);
		box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
		border: 1px solid rgba(255, 255, 255, 0.1);
		right: 4vw;
		top: 2vh;
		text-decoration: none;
		text-align: center;
		line-height: 50px;
		z-index: 1000;
		backdrop-filter: blur(5px);
	}

	header{
		background: transparent;
	}

	.toggle .fermer{
		display: none;
	}

	.ouvrir{
		display: block;
	}
	.fermer{
		display: none;
	}

	.open .ouvrir{
		display: none;
	}

	.open .fermer{
		display: block;
	}

	.logo{
		z-index: 50;
		height: 7vh;
		padding-left: 2vw;
		padding-top: 2vh;
	}

	.menu{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgba(1, 1, 1, 0.1);
		backdrop-filter: blur(10px);
		z-index: 1;
		flex-direction: column;
		padding: 5vh;
		justify-content: space-around;
		transform: translateX(-100%);
		transition: transform ease 1s;
	}

	.open .menu{
		transform: translateX(0);
	}

	.menu li a{
		font-size: 5vw;
	}

	.submenu li a{
		border-radius: 30px;
		font-size: 14px;
	}
	.submenu{
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		width: 40vw;
	}
	.submenu li{
		padding-bottom: 1vh;
	}
}

@media all and (max-width: 600px){
	.toggle{
		/*width: 50px;
		height: 50px;*/
		display: block;
		font-size: 0.8rem;
		cursor: pointer;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 20;
	}

	.bttn{
		width: 40px;
		height: 40px;
		border-radius: 50px;
		position: absolute;
		background: rgba(255, 255, 255, 0.05);
		box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
		border: 1px solid rgba(255, 255, 255, 0.1);
		right: 7vw;
		top: 4.5vh;
		text-decoration: none;
		text-align: center;
		line-height: 50px;
		z-index: 1000;
		backdrop-filter: blur(5px);
	}
	.logo{
		z-index: 50;
		height: 40px;
	}
}