.previous{
	width: 50%;
	height: 100%;
	background-image: url(../img/stone/beauty01.jpg) ;
	background-position: center;
	float: left;
}

.next{
	width: 50%;
	height: 100%;
	background-image: url(../img/nodevember01/beauty04.jpg);
	background-position: center !important;
	float: right !important;
}


