.previous{
	width: 50%;
	height: 100%;
	background-image: url(../img/wood/beauty01.jpg) ;
	float: left;
}

.next{
	width: 50%;
	height: 100%;
	background-image: url(../img/stone/beauty01.jpg);
	background-position: center !important;
	float: right !important;
}

