@font-face { font-family: Montserrat; src: url('../../../fonts/Montserrat-Regular.ttf'); } 
@font-face { font-family: Montserrat; font-weight: bold; src: url('../../../fonts/Montserrat-Bold.ttf');}
@font-face { font-family: Montserrat; font-style: italic; src: url('../../../fonts/Montserrat-Italic.ttf');}

html{
	font-family: Montserrat;
	background-color: #1A1A1A;
	scroll-behavior: smooth;
}

.goTopBttn{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	position: fixed;
	background-color: rgba(0, 150, 204, .5);
	right: 5vw;
	bottom: 7vh;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
}

.goTopBttn:hover{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	position: fixed;
	background-color: rgba(0, 150, 204, 1.0);
	right: 5vw;
	bottom: 7vh;
}

#header{
	padding: 0px 0px;
	overflow: no-content;
	display: table;
    width: 100%;
    table-layout: fixed;
    text-align: center !important;
    border-bottom: 1px solid #BABABA;
}

div#header div {
	display: table-cell;
}

#header-logo {
	width: 10%;
	padding-top: 10px;
	vertical-align: top;
	text-align: center !important;
}

img.logoSite{
	max-height: 100px;
	vertical-align: top;
	margin-top: 10px;
	max-width: 210px;
	width: 100%;
	margin-bottom: 1vh;
}

#header-left {
	width: 40%;
	vertical-align: middle;
}

#header-right {
    width: 40%;
    border-color: blue;
    vertical-align: middle; 
}

nav.navBar ul li.navBttn a.navLink{
	color: #BABABA;
	text-decoration: none;
}

nav.navBar ul li.navBttn{
	list-style-type: none;
	font-size: 1.5vw;
	display: inline-block;
	padding-inline: 20px;
}

nav.navBar ul li.navBttn a.navLink:hover{
	color: #DEDEDE;
	text-decoration: none;
	font-weight: bold;
}

nav.navBar ul li.navBttn a.navLinkActual{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

#portfolioNavBar{
	text-align: center !important;
}

nav.navBar ul li.portfolioNavBttn a.portfolioNavLink{
	color: #BABABA;
	text-decoration: none;
}

nav.navBar ul li.portfolioNavBttn{
	list-style-type: none;
	font-size: 1.2vw;
	display: inline-block;
	padding-inline: 20px;
}

nav.navBar ul li.portfolioNavBttn a.portfolioNavLink:hover{
	color: #DEDEDE;
	text-decoration: none;
	font-weight: bold;
}

nav.navBar ul li.portfolioNavBttn a.portfolioNavLinkActual{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.pageTitle{
	color: #DEDEDE;
	font-size: 5vw;
	text-align: center !important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.description{
	color: #BABABA;
	margin-left: 3vw;
	margin-right: 5vw;
	text-align: left !important;
	margin-top: 0vh;
	margin-bottom: 5vh;
	font-size: 3vh;
}

.separator{
	width: 80%;
	margin-bottom: 5vh;
}

#imagesFullScreen{
	width: 100vw;
}

img.fullScreen{
	display: block;
	width: 95vw;
	height: auto;
	margin: auto;
	padding-bottom: 2vh;
}

#squareImages{
	width: 100%;
	display: inline-block;
}

img.square{
	width: 40%;
	display: block;
	float: left;
	margin-left: 5vw;
	margin-right: 0vw;
}

video.square{
	width: 40%;
	display: block;
	float: right;
	margin-left: 0vw;
	margin-right: 5vw;
}

#matsNavigation{
	margin-top: 5vh;
	width: 100%;
	height: 100vh;
	display: inline-flex;
}

.previous{
	width: 50%;
	height: 100%;
	background-image: url(../img/wood/beauty01.jpg) ;
	float: left;
}

.next{
	width: 50%;
	height: 100%;
	background-image: url(../img/stone/beauty01.jpg);
	background-position: center !important;
	float: right !important;
}

.navTitle{
	color: #DEDEDE;
	font-size: 7vh;
	padding-left: 2vw;
}



div#bttnL{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 40vh;
}

div#bttnR{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 40vh;
}

button.bttnPage{
	background-color: #0096CC;
	border-radius: 50px;
  	border: 3px solid #0096CC;
  	color: white;
  	padding: 1% 5vw;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 1.5vw;
  	margin: 0px 0px;
  	cursor: pointer;
}

button.bttnPage:hover{
	background-color: transparent;
	border-radius: 50px;
  	border: 3px solid #00BBFF;
  	color: white;
  	padding: 1% 5vw;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 1.55vw;
  	margin: 0px 0px;
  	cursor: pointer;
}

a.bttnLink button.bttnPage{
	text-decoration: none;
	color: #1A1A1A;
	font-weight: bold;
}

a.bttnLink button.bttnPage:hover{
	text-decoration: none;
	color: #00BBFF;
	font-weight: bold;
}

div#footer{
	text-align: center !important;
	color: #DEDEDE;
	font-size: 2vh;
	padding-top: 8vh;
}

p.copyright{
}