body{
	background-color: #1a1a1a;
}

#core{
	padding-top: 12vh;
}

header{
	z-index: 50;
}

#banner{
	width: 98%;
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	backdrop-filter: blur(2px);
	padding-bottom: 1vh;
}

.background{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 50%;
	background-image: url(../img/naukar/bgNaukar.jpg);
	border-radius: 30px;
}

.secondBox{
	height: 100vh;
	padding-top: 2vh;
}



img.logo{
	width: 30vw;
	display: block;
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 5vh;
}
.productionYear{
	color: #DEDEDE;
	text-align: center;
	margin: 0px;
	font-size: 1.5vw;
	padding-bottom: 10vh;
}

#informations{
	padding-top: 1vh;
}

.infos{
	width: 100%;
}

.pitch{
	color: #DEDEDE;
	font-size: 1.5vw;
	text-align: center;
	padding-bottom: 20vh;
}

.description{
	color: #BABABA;
	padding-top: 2vh;
	padding-left: 2vw;
	margin: 0px;
	font-size: 1vw;
	padding-bottom: 8vh;
	line-height: 4vh;

}

div#bttnDownload{
	width: 100%;
	text-align: center !important;
	margin-bottom: 50px;
	font-size: 50px;
	display: inline-block;
}

.separator{
	color: #DEDEDE;
	width: 80%;
	margin-bottom: 8vh;
}

table{
	margin-left: auto;
	margin-right: auto;
}

.creditsTitle{
	text-align: center !important;
	color: #DEDEDE;
	font-size: 5vw;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.title{
	color: #0096CC;
	margin: 0px;
	font-size: 1.5vw;
	padding: 0 5vw;
	padding-bottom: 2vh;
}

.row{
	margin-left: auto;
	margin-right: auto;
	text-align: center !important;
	padding-top: 2vh;
}

.lastRow{
	margin-left: auto;
	margin-right: auto;
	text-align: center !important;
	padding-top: 2vh;
}
.name{
	color: #DEDEDE;
	text-decoration: none;
	margin: 0px;
	margin-bottom: 0vh;
	font-size: 1.2vw;
	padding-bottom: 0.5vh;
	cursor: pointer;
}

.name:hover{
	color: #FFFFFF;
	font-weight: bold;
	transform: scale(1.02);
}
