#core{
	background-image: url("../../img/loaderBcg.jpg");
	background-size: cover;
  	background-repeat: repeat;
  	background-attachment: fixed;
  	background-position: center center;
	padding-top: 15vh;
}

header{
	z-index: 100;
}

.firstBox{
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px 40px;
	text-decoration: none;
	overflow: hidden;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(2px);
	color: #fff;
	font-weight: normal;
	padding-bottom: 2vh;
}

.secondBox{
	padding-top: 2vh;
}
h1.title{
	color: #DEDEDE;
	font-size: 7vw;
	margin-left: auto;
	margin-right: auto;
	text-align: center !important;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

p.description{
	color: #BABABA;
	text-align: justify;
	margin-top: 0vh;
	margin-bottom: 5vh;
	font-size: 3vh;
}

img.cover{
	border-radius: 50px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

div#buttons{
	width: 100%;
	text-align: center !important;
	display: inline-block;
	padding-top: 5vh;
}

