body{
    background-color: #1a1a1a;
}

#core{
    padding-top: 12vh;;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery a {
	flex: 1 1 100%; /* Images occupy full width of their column */
    max-width: 800px;
    height: 100%;
    margin: 0.1vh 0.15vw;
    text-decoration: none;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.gallery img:hover{
    filter: blur(1px);
}

b.infos{
    padding: 0;
}
.matTitle{
    position: relative;
    top: 700%;
    left: 25%;
    text-align: center;
    padding: 0;
    color: #dedede;
    transform: translate(-25%, -700%);
    font-size: 2vw;
/*    display: none;*/
}

.separator{
    position: relative;
    top: 14000%;
    text-align: center;
    padding: 0;
    color: #dedede;
    transform: translate(0, -14000%);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.productionYear{
    position: relative;
    top: 1300%;
    left: 25%;
    text-align: center;
    padding: 0;
    color: #dedede;
    transform: translate(-25%, -1300%);
    font-size: 1vw;
}

.prevMat{
    width: 500px;
}

    /* Responsive Styles */
@media (min-width: 400px) {
    .gallery a {
    	flex-basis: calc(50% - 5px); /* Two columns with a small gap between them */
    }
}

@media (min-width: 996px) {
    .gallery a {
        flex-basis: calc(25% - 10px); /* Three columns with a small gap between them */
    }
}

@media (min-width: 1200px) {
    .gallery a {
    	flex-basis: calc(25% - 15px); /* Four columns with a small gap between them */
    }
}

h1.name{
	font-size: 3vh;
	color: rgba(222,222,222,1);
	margin-left: auto;
	margin-right: auto;
}
