@font-face { font-family: Montserrat; src: url('../../fonts/Montserrat-Regular.ttf'); } 
@font-face { font-family: Montserrat; font-weight: bold; src: url('../../fonts/Montserrat-Bold.ttf');}
@font-face { font-family: Montserrat; font-style: italic; src: url('../../fonts/Montserrat-Italic.ttf');}

html{
	font-family: Montserrat;
	background-color: #1A1A1A;
	scroll-behavior: smooth;
}

.goTopBttn{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	position: fixed;
	background-color: rgba(0, 150, 204, .5);
	right: 5vw;
	bottom: 7vh;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
}

.goTopBttn:hover{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	position: fixed;
	background-color: rgba(0, 150, 204, 1.0);
	right: 5vw;
	bottom: 7vh;
}


#header{
	padding: 0px 0px;
	overflow: no-content;
	display: table;
    width: 100%;
    table-layout: fixed;
    text-align: center !important;
    border-bottom: 1px solid #BABABA;
}

div#header div {
	display: table-cell;
}

#header-logo {
	width: 10%;
	padding-top: 10px;
	vertical-align: top;
	text-align: center !important;
}

img.logoSite{
	max-height: 100px;
	vertical-align: top;
	margin-top: 10px;
	max-width: 210px;
	width: 100%;
	margin-bottom: 1vh;
}

#header-left {
	width: 40%;
	vertical-align: middle;
}

#header-right {
    width: 40%;
    border-color: blue;
    vertical-align: middle; 
}

nav.navBar ul li.navBttn a.navLink{
	color: #BABABA;
	text-decoration: none;
}

nav.navBar ul li.navBttn{
	list-style-type: none;
	font-size: 1.5vw;
	display: inline-block;
	padding-inline: 20px;
}

nav.navBar ul li.navBttn a.navLink:hover{
	color: #DEDEDE;
	text-decoration: none;
	font-weight: bold;
}

nav.navBar ul li.navBttn a.navLinkActual{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

#portfolioNavBar{
	text-align: center !important;
}

nav.navBar ul li.portfolioNavBttn a.portfolioNavLink{
	color: #BABABA;
	text-decoration: none;
}

nav.navBar ul li.portfolioNavBttn{
	list-style-type: none;
	font-size: 1.2vw;
	display: inline-block;
	padding-inline: 20px;
}

nav.navBar ul li.portfolioNavBttn a.portfolioNavLink:hover{
	color: #DEDEDE;
	text-decoration: none;
	font-weight: bold;
}

nav.navBar ul li.portfolioNavBttn a.portfolioNavLinkActual{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery a {
	flex: 1 1 100%; /* Images occupy full width of their column */
    max-width: 540px;
    margin-top: .08vh;
    margin-bottom: .08vh;
    margin-left: .08vw;
    margin-right: .08vw;
}

.gallery img {
    width: 100%;
    height: auto;
}

    /* Responsive Styles */
@media (min-width: 768px) {
    .gallery a {
    	flex-basis: calc(50% - 5px); /* Two columns with a small gap between them */
    }
}

@media (min-width: 1024px) {
    .gallery a {
        flex-basis: calc(33.3333% - 10px); /* Three columns with a small gap between them */
    }
}

@media (min-width: 1200px) {
    .gallery a {
    	flex-basis: calc(25% - 15px); /* Four columns with a small gap between them */
    }
}

h1.name{
	font-size: 3vh;
	color: rgba(222,222,222,1);
	margin-left: auto;
	margin-right: auto;
}

div#footer{
	text-align: center !important;
	color: #DEDEDE;
	font-size: 2vh;
}

p.copyright{
}